extends ../common/greetings

block title
  | Кто-то прокомментировал ваше видео

block content
  p.
    #[a(href=accountUrl title=handle) #{accountName}] добавил комментарий к вашему видео
    "#[a(href=videoUrl) #{video.name}]":
  blockquote !{commentHtml}
  br(style="display: none;")
