extends ../common/greetings

block title
  | Кто-то только что воспользовался контактной формой

block content
  p #{fromName} отправил вам сообщение через контактную форму на #[a(href=WEBSERVER.URL) #{instanceName}]:
  blockquote(style='white-space: pre-wrap') #{body}
  p Вы можете связаться с ними по адресу #[a(href=`mailto:${fromEmail}`) #{fromEmail}], или просто ответить на это письмо, чтобы связаться с ними.