extends ../common/greetings
include ../common/mixins.pug

block title
  | Видео находится на модерации

block content
  p
    | #[a(href=WEBSERVER.URL) #{instanceName}] получил отчёт о жалобе #{isLocal ? '' : 'на удалённое дистанционное '}видео "
    a(href=videoUrl) #{videoName}
    | " от #[+channel(videoChannel)]
    if videoPublishedAt
      | , опубликовано #{videoPublishedAt}.
    else
      | , загружено #{videoCreatedAt}, но ещё не опубликовано.
  p Репортёр, #{reporter}, привел следующую причину(ы):
  blockquote #{reason}
  br(style="display: none;")
