extends ../common/greetings
include ../common/mixins.pug

block title
  | Новое сообщение о жалобе

block content
  p
    | Новое сообщение о жалобе от #{messageAccountName} было опубликовано #[a(href=abuseUrl) в отчётах ##{abuseId}] на #{instanceName}
  blockquote #{messageText}
  br(style="display: none;")
