extends ../common/greetings
include ../common/mixins.pug

block title
  | Комментарий ожидает модерации

block content
  p
    | #[a(href=WEBSERVER.URL) #{instanceName}] получил отчёт о жалобе #{isLocal ? '' : 'на удалённый дистанционный '}
    a(href=commentUrl) комментарий к видео "#{videoName}"
    |  от #{flaggedAccount}
    |  созданный #{commentCreatedAt}

  p Репортёр, #{reporter}, привел следующую причину(ы):
  blockquote #{reason}
  br(style="display: none;")
