extends ../common/greetings
include ../common/mixins.pug

block title
  | Учетная запись ожидает модерации

block content
  p
    | #[a(href=WEBSERVER.URL) #{instanceName}] получил отчёт о жалобе #{isLocal ? '' : 'на удалённой дистанционной '}учётной записи
    a(href=accountUrl)  #{accountDisplayName}

  p Репортёр, #{reporter}, привел следующую причину(ы):
  blockquote #{reason}
  br(style="display: none;")
