extends ../common/greetings

block title
  | Сброс пароля для вашей учетной записи

block content
  p.
    На #[a(href=WEBSERVER.URL) #{instanceName}] была запрошена процедура сброса пароля для вашей учетной записи #{username}.
    Пожалуйста, перейдите по #[a(href=resetPasswordUrl) этой ссылке], чтобы сбросить его: #[a(href=resetPasswordUrl) #{resetPasswordUrl}]
    (срок действия ссылки истекает в течение 1 часа).
  p.
    Если вы не отправляли этот запрос, пожалуйста, проигнорируйте это письмо.
