extends ../common/greetings

block title
  | Кто-то упомянул вас

block content
  p.
    #[a(href=accountUrl title=handle) #{accountName}] упомянул(а) вас в комментарии к видео
    "#[a(href=videoUrl) #{video.name}]":
  blockquote !{commentHtml}
  br(style="display: none;")
