extends ../common/greetings

block title
  | Создание пароля для вашей учетной записи

block content
  p.
    Добро пожаловать на #[a(href=WEBSERVER.URL) #{instanceName}]. Ваше имя пользователя: #{username}.
    Пожалуйста, установите пароль, перейдя #[a(href=createPasswordUrl) по ссылке]: #[a(href=createPasswordUrl) #{createPasswordUrl}] 
    (срок действия этой ссылки истекает в течение семи дней).