extends ../common/greetings

block title
  | Новый подписчик на вашем канале

block content
  p.
    У вашего #{followType} #[a(href=followingUrl) #{followingName}] появился новый подписчик: 
    #[a(href=followerUrl) #{followerName}].