extends ../common/greetings

block title
  | Зарегистрирован новый пользователь

block content
  - var mail = user.email || user.pendingEmail;
  p
    | Пользователь #[a(href=`${WEBSERVER.URL}/accounts/${user.username}`) #{user.username}] только что зарегистрировался. 
    | Вы можете связаться с ними по адресу #[a(href=`mailto:${mail}`) #{mail}].