extends ../common/greetings

block title
  | Проверка учетной записи

block content
  p Добро пожаловать на #{instanceName}!
  p.
    Вы только что создали учетную запись на #[a(href=WEBSERVER.URL) #{instanceName}].
    Ваше имя пользователя: #{username}.
  p.
    Чтобы начать пользоваться своей учетной записью, сначала необходимо подтвердить свой email!
    Пожалуйста, перейдите по #[a(href=verifyEmailUrl) этой ссылке], чтобы убедиться, что этот email принадлежит вам.
  p.
    Если вы не видите вышеуказанную ссылку для проверки, вы можете воспользоваться следующей ссылкой: #[a(href=verifyEmailUrl) #{verifyEmailUrl}]
  p.
    Если вы не отправляли этот запрос, пожалуйста, проигнорируйте это письмо.
